@font-face{
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face{
    font-family: 'Montserrat-Bold';
    src: url('Montserrat-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face{
    font-family: 'Quicksand';
    src: url('Quicksand-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face{
    font-family: 'Quicksand';
    src: url('Quicksand-Bold.woff') format('woff');
    font-weight: 700;
}